.reportBtn {
    .ant-modal-footer {
        border-top: none;
    }
    .ant-modal-header{
        padding:30px 30px 20px;
        font-size:16px;
        color:rgba(0,0,0,0.85)
    }
    .ant-modal-body {
        padding: 21px 30px 30px;
        height:514px
    }
    .checkBtn{
        width:124px;
        text-align: center;
    }
    .btn{
        margin-left: 20px;
    }
    .ant-form-item-label{
        color: rgba(0, 0, 0, 0.65);
        padding-bottom: 10px;
    }
    .ant-radio-group{
        margin-top:10px;
    }
    .ant-form-item{
        margin-bottom: 30px;
        padding-bottom: 0
    }
    .ingredients{
        padding-bottom: 0
    }  
}
.ant-message-notice-content {
        display: inline-block;
        padding: 10px 16px;
        background-color: #f6ffed;
        border: 1px solid #b7eb8f;
        border-radius: 4px;
        // -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        pointer-events: all;
        width: 1120px;
        height:40px;
        //margin-top:120px;
}