@import '~antd/lib/style/themes/default.less';

.container {
  // 整屏高度- 菜单高度 - 面包屑高度 - margin负值
  height: 100%;

  .header {
    margin-bottom: 20px;
    background   : #fff;

    .headerContetntWide {
      max-width: 1200px;
      margin   : auto;
      padding  : 20px;

      .logo {
        >img {
          display      : block;
          width        : 28px;
          height       : 28px;
          border-radius: @border-radius-base;
        }
      }

      .row {
        margin-bottom: 20px;
      }
    }

  }

  .mainContentWide {
    height   : 100%;
    max-width: 1200px;
    margin   : 0 auto;

    .body {
      background: #fff;
      height    : 100%;
      padding   : 0 30px 20px;
    }
  }

}