.todoListCard {
    width        : 350px;
    height       : 265px;
    background   : #fff;
    margin-bottom: 20px;
    color        : rgba(0, 0, 0, 0.85);

    :global {

        .ant-divider,
        .ant-divider-horizontal {
            margin: 0;
        }
    }

    .title {
        height     : 65;
        width      : 117px;
        font-weight: bolder;
        margin-left: 20px;
        line-height: 65px;
        font-size  : 16px;
    }

    .item {
        display        : flex;
        justify-content: space-between;
        padding        : 0 20px;
        width          : 350;
        height         : 50px;
        line-height    : 50px;

        >span {
            display: block;
        }
    }

    .todoItem:hover {
        cursor    : pointer;
        background: rgb(240, 255, 254)
    }
}